.burger {
  display: none;

  @media (max-width: 890px) {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  &__button {
    position: absolute;
    right: 20px;
    z-index: 10;
    width: 20px;
    height: 18px;
    transition: all transform 0.6s;

    .burger__line {
      width: 20px;
      height: 2px;
      background-color: #696969;
      position: absolute;
      border-radius: 1px;
    }

    & :nth-child(1) {
      top: 0;
      transition: 0.3s;
    }

    & :nth-child(2) {
      top: 8px;
      transition: 0.3s;
    }

    & :nth-child(3) {
      bottom: 0px;
      right: 0;
      opacity: 1;
      transition: 0.5s;
      width: 14px;
    }

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;

      .burger__line {
        background-color: #000000;
      }
    }

    &.active {
      & :nth-child(1) {
        top: 50%;
        transform: rotate(-45deg);
        transition: 0.3s;
      }

      & :nth-child(2) {
        top: 50%;
        transform: rotate(45deg);
        transition: 0.3s;
      }

      & :nth-child(3) {
        opacity: 0;
        transition: 0.1s;
      }
    }
  }
}

.mobile__nav {
  display: none;
  @media (max-width: 890px) {
    // display: block;
    position: absolute;
    background-color: $dark-gray;
    padding: 20px 40px 20px 20px;
    top: 15%;
    right: 0;
    border-radius: 5px 0 0 5px;
  }
}

.mobile.nav__link {
  color: $white;
}

.mobile.nav__link.active {
  color: $white-grey;
}
