$accent: linear-gradient(103.02deg, #f81f01 0%, #ee076e 98.96%);
$white: #ffffff;
$white-grey: rgba(255, 255, 255, 0.75);
$black: #000000;
$dark-gray: rgba(0, 0, 0, 0.75);
$dark-gray-light: rgba(0, 0, 0, 0.05);