html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  background-color: $white;
  color: $black;
  font-family: Montserrat, Arial, sans-serif;
}

.container {
  max-width: 1920px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: url('./assets/svg/bg1.svg') no-repeat center 19%, url('./assets/svg/bg2.svg') no-repeat bottom;
}

.wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 30px;
  @include respons-property(padding-left, 10, 30);
  @include respons-property(padding-right, 10, 30);
}

main {
  flex: 1 1 auto;
}

.text-colored {
  background: $accent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h1 {
  font-size: 80px;
  @include respons-property(font-size, 30, 80);
  font-weight: 900;
  line-height: 76px;
  @include respons-property(line-height, 30, 76);
  letter-spacing: 0.065em;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  @include respons-property(font-size, 22, 32);
  font-weight: 700;
  line-height: 39px;
  @include respons-property(line-height, 20, 39);
  letter-spacing: 0.065em;
  text-align: left;
}

h3 {
  font-size: 24px;
  @include respons-property(font-size, 18, 24);
  font-weight: 700;
  line-height: 29px;

  @include respons-property(line-height, 18, 29);
  letter-spacing: 0.065em;
}

p {
  font-size: 16px;
  @include respons-property(font-size, 12, 16);
  font-weight: 400;
  line-height: 22px;
  @include respons-property(line-height, 16, 22);

  letter-spacing: 0.065em;
}
