.advantages {
  margin-bottom: 130px;
  @include respons-property(margin-bottom, 50, 130);

  &__list {
    max-width: 1005px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 668px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 281px;
  height: 100%;
  &__svg-container {
    width: 120px;
    height: 120px;
    margin-bottom: 24px;
  }
  &__svg {
    width: 120px;
    height: 120px;
    fill: #f81f01;
    fill: linear-gradient(103.02deg, #f81f01 0%, #ee076e 98.96%);
    transition: all ease-in 0.2s;
  }
  
  &__title {
    text-align: center;
    margin-bottom: 32px;
  }

  &__text {
    text-align: center;
  }
}
